@page "/pelicula"
@using TP3MovilFullstack.Models 
@using TP3MovilFullstack.Services 
@inject NavigationManager navigationManager
@inject PeliculaService peliculaService



<EditForm Model="@pelicula">
    <div class="mt-3">
        <InputText @bind-Value="@pelicula.Titulo" placeholder="Nombre" />
    </div>
    <div class="mt-3">
        <InputNumber @bind-Value="@pelicula.Anio" placeholder="Precio" />
    </div>
    <div class="mt-3">
        <InputText @bind-Value="@pelicula.Director" placeholder="Descripcion" />
    </div>
    <div class="mt-3">
        <img src="@pelicula.ImagenPath" alt="Imagen del producto" style="width: 100px; height: 100px;" />
    </div>
</EditForm>


<div class="text-center mt-3">
    <button class="btn btn-primary" @onclick="Volver">Cancelar</button>
    <button class="btn btn-success" @onclick="Grabar">Grabar</button>
</div>

@code {
   
    public Pelicula pelicula = new Pelicula();


    public void Volver()
    {
        // Navegar a la página de edición del producto
        navigationManager.NavigateTo("/");
    }

    public async Task Grabar()
    {
        peliculaService.AddPelicula(pelicula);
    }
}
